.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #999;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
}

.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: wheat;
  color: #666;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.action {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.action button:hover {
  background-color: #777;
  border-color: #777;
}

.action .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0.15rem 1.5rem;
}

.action .toggle:hover {
  background-color: transparent;
  color: #333;
}
